<br>
<br>

<div class="main" >
	<span>E</span>
	<span>D</span>
	<span>U</span>
	<span>C</span>
	<span class="letter"></span>
	<span>A</span>
	<span>T</span>
  <span>I</span>
  <span>O</span>
  <span>N</span>
</div>



<div class="box">
	<div class="split">College - Manipal Institute of Technology, Manipal</div>
    <div class="split">Major - Computer Science Engineering</div>
    <div class="split">Minor - 
        <ul>
            <li class="split" >Big Data Specialization</li>
            <li class="split" >Machine Learning Specialization</li>
        </ul>
    </div>
    <div class="split">CGPA - 7.8</div>
</div>
