<br>
<br>

<div class="main">
	<span>H</span>
	<span>O</span>
	<span>B</span>
	<span>B</span>
	<span class="letter"></span>
	<span>I</span>
	<span>E</span>
  <span>S</span>
</div>



<div class="box">
	<div class="split">In the management committee of ADA, the dramatics club of Manipal</div>
    <div class="split">Elected as an Organizer for Techtatva 2018</div>
    <div class="split">Outdoor activites include
        <ul>
            <li class="split" >Basketball</li>
            <li class="split" >Swimming</li>
        </ul>
    </div>
</div>
