.customheading{
    font-family: "Arial Black", sans-serif;
   font-size: 4.5em;
   letter-spacing: -1px;
   background-color: black;
   color: white;
   padding: 3rem;
}



.navbar{
    justify-content:space-between;
}

span{
    padding-right: 1rem;
}



span{
	margin: 0 15px;
	line-height: .7;
	text-shadow: 0 0 2px rgba(0, 0, 0, .45);
	animation: span 3s ease-in infinite alternate;
}
.main{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font-size: medium;
}
.letter{
	display: inline-flex;
	height: 10px;
	width: 10px;
	/* border: 2.5px solid #FF1EAD; */
	border: 2.35px solid black;
	border-radius: 14px;
	box-shadow:
		0 0 2px rgba(0, 0, 0, .75),
		inset 0 0 2px rgba(0, 0, 0, .45);

	animation: letter 3s ease-in-out infinite alternate;
}
@keyframes span {
	0%,30%{ margin: 0 15px; }
	70%,100%{ margin: 0 5px; }
}
@keyframes letter {
	0%,30%{ width: 27px; }
	70%,100%{ width: 30vw; }
}


body {
	overflow: hidden;
}

.box {
	max-width: 70vw;
	padding: 30px;
	margin: 0 auto;
	position: relative;
	top: 14%;
	font-size: 14px;
	line-height: 1.2;
	transform: translateY(-50%);
	perspective: 400px;
}

.source {
	color: skyblue;
	margin: 0 auto;
}