<br>
<br>

<div class="main">
	<span>E</span>
	<span>X</span>
	<span>P</span>
	<span>E</span>
	<span class="letter"></span>
	<span>R</span>
	<span>I</span>
  <span>E</span>
  <span>N</span>
  <span>C</span>
  <span>E</span>
</div>


<div class="box">
	<div class="split">Company - Cloudesign</div>
    <div class="split">Position - Intern [5/19 - 7-19]</div>
    <div class="split">Work
        <ul>
            <li>
                <div class="split" >Made the backend of a form using AWS Lambda and API Gateway</div>
            </li>
            <li>
                <div class="split" >Made a Bot on Slack - Attendance Bot</div>
            </li>
        </ul>
    </div>
</div>