<br>
<br>

<div class="main">
	<span>P</span>
	<span>R</span>
	<span>O</span>
	<span>J</span>
	<span class="letter"></span>
	<span>E</span>
	<span>C</span>
  <span>T</span>
  <span>S</span>
</div>


<div class="box">
	<div class="split">Machine Learning
        <ul>
            <li class = "split" >Made a Blackjack playing bot</li>
            <li class = "split" >MNIST classifier</li>
        </ul>
    </div>
    <div class="split">Algorithms
        <ul>
            <li class = "split" >Implemented A* path finding algorithm</li>
            <li class = "split" >Created Sudoku Solver using Backtracking algorithm</li>
            <li class = "split" >Made a tic-tac-toe game using Minimax algorithm.</li>
        </ul>
    </div>
    <div class="split">Unity
        <ul>
            <li class = "split" >Made a 2D platformer and a mobile game in Unity</li>
        </ul>
    </div>
    <div class="split">Web Scraper
        <ul>
            <li class = "split" >Lists all the graphics cards, their description and their prices from newegg.com</li>
        </ul>
    </div>
    <div class="split">Database
        <ul>
            <li class = "split" >Made a database in SQL with JAVA GUI as the front end</li>
        </ul>
    </div>
</div>