<mat-toolbar color="primary" class="navbar">
  <!--<Div>Resume</Div>-->
  <button mat-button routerLink="/">Resume</button>
  <div>
    <button mat-button routerLink="/education" routerLinkActive="active">Education</button>
    <button mat-button routerLink="/experience" routerLinkActive="active">Experience</button>
    <button mat-button routerLink="/projects" routerLinkActive="active">Projects</button>
    <button mat-button routerLink="/hobbies" routerLinkActive="active">Hobbies</button>
  </div>
</mat-toolbar>

<h1 class=customheading>Welcome to my resume</h1>
<br>




<!--
<div class="split" style="font-weight:100"> If you dont hire me, i'll kill everyone you ever loved :)</div>
-->



<br>
<div class="main">
	<span>I</span>
	<span>N</span>
	<span>T</span>
	<span>R</span>
	<span class="letter"></span>
	<span>D</span>
	<span>U</span>
  <span>C</span>
  <span>T</span>
  <span>I</span>
  <span>O</span>
  <span>N</span>
</div>

<div class="box">
	<div class="split">Hardworking, detail-oriented undergraduate in Computer Science with ability to articulate complex
    subject matter. Excellent interpersonal skills. Seeking to find the opportunity to work in a fun and
    challenging environment that will encourage me to improve for the sake of helping and improving the
    company and myself.
  </div>
<div class="split" style="font-weight:500"> Willing to help, listen and learn.</div>
	
</div>


<!-- <button mat-raised-button color="primary">CLick me</button> -->

<router-outlet ></router-outlet>